- form_for @query, @action || "/twitter_queries", :remote => true, :'data-type' => 'html', :method => :POST do |f|
  = error_messages_for @query
  -#What is the proper way to implement error_messages, reference site was down earlier check again
  = csrf_tag
  %table{:align => :center}
    %tr
      %td= f.label :name, :caption => "Query Name:"
      %td= f.text_field :name

    %tr
      %td= f.label :query, :caption => "Query:"
      %td= f.text_field :query

    %tr
      %td 
      %td
        = f.submit
        = link_to 'Cancel', '/twitter_queries', :remote => true, :'data-type' => 'html'

