%h1= @query.name

= link_to 'Edit', "/twitter_queries/#{@query.id}/edit", :remote => true, :'data-type' => 'html', :style => "margin-right:5px;"
= link_to 'Back', "/twitter_queries", :remote => true, :'data-type' => 'html'

%hr{:size => 1, :width => 300}

%h2{:id => "query"}= @query.query

%hr{:size => 1, :width => 500}

= image_tag 'loading.gif', :alt => :'Loading....'