.container#nav

  .left
    = link_to "Home", '/'
    &nbsp;
    = link_to "Locations", '/locations'
    &nbsp;
    = link_to "About", '/about'
    &nbsp;
    = link_to "DuckDuckGo", '/duckduckgo_queries'
    &nbsp;
    = link_to "Twitter", '/twitter_queries'

  .right
    Welcome, User!
    %span &nbsp;
    %span &nbsp;