
- form_for @location, @action || "/locations", :method => :POST do |f|
  -#= error_message_on @location, :name
  -#= error_message_on @location, :lat
  -#= error_message_on @location, :lon
  = f.error_messages
  -# puts @location.inspect
  -#What is the proper way to implement error_messages, reference site was down earlier check again
  = csrf_tag
  %table{:align => :center}
    %tr
      %td= f.label :name, :caption => "Location Name:"
      %td= f.text_field :name

    %tr
      %td= f.label :lat, :caption => "Latitude:"
      %td= f.text_field :lat

    %tr
      %td= f.label :lon, :caption => "Longitude:"
      %td= f.text_field :lon

    %tr
      %td 
      %td
        = f.submit
        = link_to 'Cancel', '/locations'

