
:javascript
  if (!window.app) var app = window.app = {};
  window.app.chat_path = '/#{ @a_chat.token }';
  window.app.chat_channel = '#{ @a_chat.channel_name }';
  var me = '#{ request.cookies["user_name"] }';
  _.templateSettings = {
    interpolate : /\{\{(.+?)\}\}/g,
    escape : /\{\{\{(.+?)\}\}\}/g,
    evaluate : /\{\{\[(.+?)\]\}\}/g,
  };

#room1.app{:style => 'float: left; margin-left: 20px;'}

  .sizeAdjuster
    %input{:type => "range", :min => 10, :max => 100, :value => 25}
    -#%a{:href => "#"} <
    -#%a{:href => "#"} >

  .debugMessages
    %img{:src => 'images/settings.png'}
    .infoDisplay
      %span{:id => "num_messages"} 0

  #clear-chat Clear

  .title
    %p
      %input#the_url{:type=>:text, :readonly=>:readonly, :value=>"#{ url_for('/' + @a_chat.token, :full) }"}

    %p.usersInChat
      %span.presence-stats
      %span.presence-all

  .content
    #create
      %input#new-chat{:placeholder=>"Type your message here...", :type=>"text"}
      %span.ui-tooltip-top
        Type your message here, then press Enter to send
    .chat-list


#room2.app{:style => 'float: right; margin-right: 20px;'}

  .sizeAdjuster
    %input{:type => "range", :min => 10, :max => 100, :value => 25}
    -#%a{:href => "#"} <
    -#%a{:href => "#"} >

  .debugMessages
    %img{:src => 'images/settings.png'}
    .infoDisplay
      %span{:id => "num_messages"} 0

  #clear-chat Clear

  .title
    %p
      %input#the_url{:type=>:text, :readonly=>:readonly, :value=>"#{ url_for('/' + @a_chat.token, :full) }"}

    %p.usersInChat
      %span.presence-stats
      %span.presence-all

  .content
    #create
      %input#new-chat{:placeholder=>"Type your message here...", :type=>"text"}
      %span.ui-tooltip-top
        Type your message here, then press Enter to send
    .chat-list


%script#presence-item-template{:type => "text/template"}
  %a{:id => "presence-item-{{ id }}", :class=>"author_span {{[ you ? 'you' : '' ]}}", :href => "http://twitter.com/{{ name }}"}
    %img{:title => "{{ name }}", :src => "http://twitter.com/api/users/profile_image/{{ name }}", :alt => ".", :onload => "$('.chat-list').resize();"}
    {{ name }}

%script#presence-stats-template{:type => "text/template"}
  %span.list_desc
    %span.number
      {{ size }}
      online :

%script#chat-item-template{:type=>"text/template"}
  .item-span
    {{ message }}
  .author-span
    {{when}} by {{ author }} in {{ room }}